<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 
      AUCUNE permission INTERNET requise (100% hors-ligne garanti).
      AUCUNE permission de stockage large (READ/WRITE_EXTERNAL_STORAGE).
      Utilisation du Storage Access Framework (SAF) natif.
      AUCUNE permission SEND_SMS : l'utilisateur valide l'envoi dans son appli SMS.
    -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Détection de WhatsApp et de l'application SMS par intent queries (Android 11+) -->
    <queries>
        <!-- WhatsApp Messenger & Business -->
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <!-- Application SMS standard -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto" />
        </intent>
        <!-- Application Composeur d'appels -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
    </queries>

    <application
        android:name=".CaisseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaisseAssociation"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.CaisseAssociation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Désactivation de l'initialiseur WorkManager par défaut pour Hilt -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
